/*下述为导航栏的切换按钮，小屏才会出现*/
.my-navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 11px;
    margin-left: 8px;
    margin-bottom: 11px;
    background-color: transparent;
    background-image: none;
    border-style: none;
    //border: 1px solid transparent;
    //border-radius: 4px;
}
/*为了去除黑色导航栏的渐变效果及圆角效果*/
.navbar-inverse {
   border-radius: 0px;
   background-image: none;
   background-color: rgba(0,0,0,0.9);
       box-shadow: inset 0 1px 0 rgba(0,0,0,.15), 0 1px 5px rgba(255,255,255,.25);
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus>.icon-bar, .navbar-inverse .navbar-toggle:hover>.icon-bar {
    background-color: #cccccc;
}
.navbar-inverse .dropdown-menu {
    background-color: #0f0f0f;
}
.navbar-inverse .dropdown-menu>li>a {
    color: #9d9d9d;
}
.navbar-inverse .dropdown-menu>li>a:focus, .navbar-inverse .dropdown-menu>li>a:hover {
    background-color: #ff0000;
    background-image: linear-gradient(to bottom,#333333 0,#222222 100%);
    background-repeat: repeat-x;
    color: #ffffff;
}

.navbar-inverse .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #404040;
}
/*为了去除白色导航栏的渐变效果及圆角效果*/
.navbar-default {
   border-radius: 0px;
   background-image: none;
   background-color: rgba(255, 255, 255, 0.9);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus>.icon-bar, .navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #333;
}

/*icon-bar连续放置时，相隔的像素*/
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}

/*领养居右*/
.my-navbar-brand_right {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    color: #9d9d9d;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    }

    /*导航条底部空间*/
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }

    .bor_blue {
        border: 10px;
        border-style: solid;
        border-color: blue;
    }

    .bor_red {
        border: 1px;
        border-style: solid;
        border-color: green;
    }

.container {
        width: 100%;
    }

.my-sm-img-bg {
    height: 268px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #ffffff;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    background-size: cover;
    background-position: center;
}

.my-sm-img-bg>a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    height:264px;
    text-align: center;

}

.my-sm-img-bg>a>p1{
    font-size: 1.8rem;
    font-weight: 500;
    //position: absolute;
    //padding-bottom: 157px;
    //padding-top: 30px;
    //line-height: 3rem;
    //margin: auto;
}

.table>tbody>tr>td>a {
    color: #777;
    text-decoration: none;
}

.table>tbody>tr>td>a:hover, .table>tbody>tr>td>a:focus, .table>tbody>tr>td>a:visited, .table>tbody>tr>td>a:active {
    color: #777;
    text-decoration: underline;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 0.7;
    vertical-align: top;
    border: none;
}

/*hover灰色*/
.hover_gray {
    background: radial-gradient(circle,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.1));
    color: balck;
}

.hover_gray:focus, .hover_gray:hover, .hover_gray:visited, .hover_gray:active {
    background: radial-gradient(circle,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.2));
}

/*  */
.carousel-caption {
    font-size: 4vh;
}

/* 底层小屏折叠栏 */
.my-panel-hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
}
.my-panel {
    margin-bottom:0px;
}

.my-panel>.panel-info {
    border-radius: 0px;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.my-panel>.panel-info>.panel-heading {
    height: 34px;
    padding: 0px;
    background:rgba(255, 255, 255, 0);
}

.my-panel>.panel-info>.panel-heading>a {
    height: 34px;
    width: 100%;
    display: block;
    padding: 10px 0px;

}

/*.my-panel>.panel-info>.panel-heading>a:hover,
.my-panel>.panel-info>.panel-heading>a:focus,
.my-panel>.panel-info>.panel-heading>a:active,
.my-panel>.panel-info>.panel-heading>a:visited*/
.my-panel>.panel-info>.panel-heading>a:active
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.my-panel>.panel-info>.panel-heading>a>h4 {
    color: #333;
    font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding-right: 0px;
}

.my-panel>.panel-info>.panel-heading>a>h5 {
        color: #333;
        padding-left: 0px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-align: center;
        text-align: -webkit-center;
        padding-right: 0px;
        margin-top: -4px;
}

.my-panel>.panel-info>.panel-collapse>.panel-body {
    border: none;
    padding-top: 0px;
}

.my-panel>.panel-info>.panel-collapse>.panel-body>table {
    margin-bottom: 0px;
}

/*dropdown-menu_black 黑色下拉菜单，导航条*/
.navbar-nav>li>.dropdown-menu_black {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu_black {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,0.9);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu_black>li>a {
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#9d9d9d;
    white-space:nowrap;
}
.dropdown-menu_black>li>a:focus,.dropdown-menu_black>li>a:hover {
    color:#fff;
    text-decoration:none;
    background-color:#080808;
}
.dropdown-menu_black>.active>a,.dropdown-menu_black>.active>a:focus,.dropdown-menu_black>.active>a:hover {
    color:#fff;
    text-decoration:none;
    background-color:#337ab7;
    outline:0;
}
.dropdown-menu_black>.disabled>a,.dropdown-menu_black>.disabled>a:focus,.dropdown-menu_black>.disabled>a:hover {
    color:#777;
}
.dropdown-menu_black>.disabled>a:focus,.dropdown-menu_black>.disabled>a:hover {
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.with_cat a:hover {
    text-decoration:none;
}
