/*下述为导航栏的切换按钮，小屏才会出现*/
.my-navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 11px;
    margin-left: 8px;
    margin-bottom: 11px;
    background-color: transparent;
    background-image: none;
    border-style: none;
    //border: 1px solid transparent;
    //border-radius: 4px;
}
/*为了去除导航栏的渐变效果及圆角效果*/
.navbar-inverse {
   border-radius: 0px;
   //background-image: linear-gradient(to bottom,#b33e3e 0,#222 100%);
   background-image: none;
   background-color: rgba(0,0,0,0.9);
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus>.icon-bar, .navbar-inverse .navbar-toggle:hover>.icon-bar {
    background-color: #cccccc;
}
/*icon-bar连续放置时，相隔的像素*/
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}

/*领养居右*/
.my-navbar-brand_right {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    color: #9d9d9d;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    }

    /*导航条底部空间*/
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }

    .bor_blue {
        border: 10px;
        border-style: solid;
        border-color: blue;
    }

    .bor_red {
        border: 1px;
        border-style: solid;
        border-color: green;
    }

.container {
        width: 100%;
    }

.my-sm-img-bg {
    height: 268px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #ffffff;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    background-size: cover;
    background-position: center;
}

.my-sm-img-bg>a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    height:264px;
    text-align: center;

}

.my-sm-img-bg>a>p1{
    font-size: 1.8rem;
    font-weight: 500;
    //position: absolute;
    //padding-bottom: 157px;
    //padding-top: 30px;
    //line-height: 3rem;
    //margin: auto;
}

.table>tbody>tr>td>a {
    color: #777;
    text-decoration: none;
}

.table>tbody>tr>td>a:hover, .table>tbody>tr>td>a:focus, .table>tbody>tr>td>a:visited, .table>tbody>tr>td>a:active {
    color: #777;
    text-decoration: underline;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 0.7;
    vertical-align: top;
    border: none;
}

/*hover灰色*/
.hover_gray {
    background: radial-gradient(circle,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.1));
    color: balck;
}

.hover_gray:focus, .hover_gray:hover, .hover_gray:visited, .hover_gray:active {
    background: radial-gradient(circle,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.2));
}

/*  */
.carousel-caption {
    font-size: 4vh;
}

/* 底层小屏折叠栏 */
.my-panel-hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
}
.my-panel {
    margin-bottom:0px;
}

.my-panel>.panel-info {
    border-radius: 0px;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.my-panel>.panel-info>.panel-heading {
    height: 34px;
    padding: 0px;
    background:rgba(255, 255, 255, 0);
}

.my-panel>.panel-info>.panel-heading>a {
    height: 34px;
    width: 100%;
    display: block;
    padding: 10px 0px;

}

/*.my-panel>.panel-info>.panel-heading>a:hover,
.my-panel>.panel-info>.panel-heading>a:focus,
.my-panel>.panel-info>.panel-heading>a:active,
.my-panel>.panel-info>.panel-heading>a:visited*/
.my-panel>.panel-info>.panel-heading>a:active
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.my-panel>.panel-info>.panel-heading>a>h4 {
    color: #333;
    font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding-right: 0px;
}

.my-panel>.panel-info>.panel-heading>a>h5 {
    color: #333;
    font-weight: normal;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding-left: 0px;
}

.my-panel>.panel-info>.panel-collapse>.panel-body {
    border: none;
}

.my-panel>.panel-info>.panel-collapse>.panel-body>table {
    margin-bottom: 0px;
}
